body {
    background-color: #e6e8e6;
}

div.banner {
    background-image: linear-gradient(to bottom,         
    #616161, #e0e0e0);
    color: white;
    font-size: 48pt;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }